<% if @loanPayment.errors.any? %>
	 <h2>Erros ao salvar o registro de conta:</h2>
	 <ul>
	 <% @loanPayment.errors.full_messages.each do |msg|%>
	 <li><%= msg %></li>
	 <% end %>
	 </ul>
<% end %>
<%= form_for @loanPayment do |f| %>
<h1 class="text-center title_padding">Pagamento do empréstimo <%= @loan.description %> </h1>
<div class="row text-center items_grid_padding">
	<div class="col-lg-4"></div>
	<div class="col-lg-4">
		  <p>
		  	<div class="title_padding"><%= f.label :valor_a_amortizar  %></div>
		  	<div class="input-group input-group-lg">
			  <div class="input-group-addon eurosymbolplace">
			    <span class="input-group-text eurosymbolplace" id="inputGroup-sizing-lg">€</span>
			  </div>
			  <%= f.text_field :payed_value, class: 'form-control money-input ', placeholder: '00.00'  %>
			</div>
		  </p>
	</div>
	<div class="col-lg-4"></div>
</div>
<%= f.hidden_field :loan_id, value: @loan.id %>
<div class="row text-center">
	<div class="col-lg-4"></div>
	<div class="col-lg-4">
		    <p>
			 <%= f.submit 'Salvar', :class => 'btn btn-success btn-lg btn-block' %>
			</p>
	</div>
	<div class="col-lg-4"></div>
</div>
 </p>
<% end %>