<h1 class="text-center title_padding">Registro de conta de <%= @bill_history.bill.name %></h1>


<div class="row text-center font-size-25">
	<div class="col-sm-6">
		Mês
	</div>
	<div class="col-sm-6">
		<%= get_month_verbose(@bill_history.month) %>
	</div>
</div>
<hr>
<div class="row text-center font-size-25">
	<div class="col-sm-6">
		Ano
	</div>
	<div class="col-sm-6">
		<%= @bill_history.year %>
	</div>
</div>
<hr>
<div class="row text-center font-size-25">
	<div class="col-sm-6">
		Valor
	</div>
	<div class="col-sm-6">
		€ <%= number_with_precision(@bill_history.value , :precision => 2) %>
	</div>
</div>
<hr>

<div class="row text-center title_padding">
	<div class="col-sm-12">
		<%= link_to 'Voltar', get_bill_history_url(@bill_history.month, @bill_history.year), class: "btn btn-primary margin-right-25" %>
		<%= link_to 'Editar', edit_bill_history_path(@bill_history), class: "btn btn-primary margin-right-25" %>
		<%= link_to 'Excluir', bill_history_path(@bill_history), method: :delete, data: {confirm: "Deseja mesmo excluir esse registro de conta?"}, class: "btn btn-danger" %>
	</div>
</div>
<
