<div class="container">
<h1 class="text-center title_padding">Média Anual</h1>
<h4 class="text-center">Ano</h4>
<div class="row items_grid_padding text-center">
	<div class="col-lg-12">
		<!-- TODO: REFACTOR THIS, THE CUSTOM SELECT CLASS IS NOT WORKING, FIND A WAY TO MAKE BOOTSTRAP CUSTOM FORMS TO WORK WITH RAILS  -->
		<select class="custom-select" name="year", id="year_average_year_select">
			<% (Time.current.year..2019).step(-1).to_a.each do |year| %>
				<option <% if year == @year.to_i %> selected <% end %> value=<%= year %>><%= year %></option>
			<% end %>
		</select>
	</div>
</div>
<div class="row align-items-center">
	<div class="col-lg-6">
		<h2 class="text-center title_padding">Médias</h2>
		<% collumn = 0  %>
		<% row = 0  %>
		<% if @averages.count != 0 %>
			<div class="row align-items-center items_grid_padding">
		<% end %>
		<% @averages.each do |average| %>
			<% if collumn < @grid_size %>
				<div align="center" class=<%= "col-lg-" + (12/@grid_size).to_s %>>
					<% bill = Bill.find(average[0]) %>
					<p><%= image_tag(bill.image_icon + ".png", :alt => "icon",  width: "100", height: "100") %></p>
					<p class="grid_label"><%= bill.name %></p>
					<p class="grid_label">€ <%= number_with_precision(average[1], :precision => 2) %></p>
					<% collumn = collumn + 1 %>
				</div>
			<% else %>
				</div>
				<div class="row align-items-center items_grid_padding">
				<% collumn = 0 %>
				<% row = row + 1 %>
				<div align="center" class=<%= "col-lg-" + (12/@grid_size).to_s %>>
					<% bill = Bill.find(average[0]) %>
					<p><%= image_tag(bill.image_icon + ".png", :alt => "icon",  width: "100", height: "100") %></p>
					<p class="grid_label"><%= bill.name %></p>
					<p class="grid_label">€ <%= number_with_precision(average[1], :precision => 2) %></p>
					<% collumn = collumn + 1 %>
				</div>
			<% end %>
		<% end %>
		<% if @averages.count != 0 %>
			</div>
		<% end %>
		</div>
		<div class="col-lg-6">
			<h2 class="text-center title_padding">Proporção de impacto</h2>
			<%= pie_chart @averages_chart_data %>
		</div>
	</div>
	<% if @averages.count != 0 %>
		<hr/>
		<div class="row align-items-center items_grid_padding">
			<div align="center" class="col-lg-12">
				<p class="grid_label">Média Anual: € <%= number_with_precision(@sum, :precision => 2) %></p>
			</div>
		</div>
	<% end %>
</div>
