<h1>Editar produto</h1>
<%= form_for @market_product do |f| %>
 <p>
  <%= f.label :nome %><br>
  <%= f.text_field :name %>
 </p>
 <p>
  <%= f.label :departamento %><br>
  <%= f.select :department_id, options_for_select(Department.all.map { |department|[department.name, department.id]  }, @market_product.department_id), {}, class: "form-control text-center"%><br/>
 </p>
 <p>
  <%= f.label :preco %><br>
  <%= f.text_field :price %>
 </p>
 <p>
  <%= f.label :esta_presente_na_lista_de_compras_atual %><br>
  <%= f.check_box :is_in_current_list %>
 </p>
 <p>
  <%= f.submit %>
 </p>
<% end %>