<h1>Descrição do Emprestimo</h1>
<p>
 Descrição: <%= @loan.description %>
</p>
<p>
 Montante : &#8364; <%= @loan.loaned_amount %>
</p>
<p>
 Parcela Padrão : &#8364; <%= @loan.default_installment %>
</p>

<p>
Data de cadastro : <%= @loan.created_at.strftime("%d/%m/%Y") %>
</p>
<p>
	<%= link_to 'Excluir', loan_path(@loan), method: :delete, data: {confirm: "Deseja mesmo excluir esse emprestimo?"} %>
</p>