<!DOCTYPE html>
<html>
  <head>
    <title>Ango</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/navigation' %>
    <% end %>
  
  <div class="container">
    <% flash.each do |name, msg| %>
        <ul>
           <li>
            <% if name == "alert" %>
            <div class="alert alert-warning" role="alert">
            <% else %>
            <div class="alert alert-success" role="alert">
            <% end %>
               <%= msg %>
            </div>
          </li>
        </ul>
    <% end %>
    <%= yield %>
  </div>
  </body>
</html>

<!-- https://medium.com/@greenboyroshan/creating-user-signin-and-signup-in-rails-6-using-gem-devise-part-i-334745e4cd9b -->